
body {
    font-family: "Roboto";
}

nav {
    display: flex;
    justify-content: flex-end;
    padding: 20px 20px 0px 0px;
}

.navbar-list {
    float: left;
    font-size: 15px;
    padding-top: 4px;
}

ul {
    list-style-type: none;
}

.google-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.user-icon {
    border-radius: 50%;
    width: 30px;
}

.navbar-appicon {
    padding: 0px 30px 0px 30px;
}

form {
    text-align: center;
    padding: 20px;
}

.search-bar {
    width: 570px;
    height: 35px;
    border-radius: 15px;
    border: solid rgb(189, 186, 186);
}

li {
    display: inline;
    padding: 5px;
}

.search-buttons {
    padding: 30px;
}

.google-search-button {
    width: 150px;
    height: 35px;
    margin: 5px;
    border-radius: 3px;
    background-color: rgb(240, 240, 240);
    border: rgb(240, 240, 240);
    color: rgb(44, 44, 44);

}

.feeling-lucky-button {
    width: 150px;
    height: 35px;
    margin: 5px;
    border-radius: 3px;
    background-color: rgb(240, 240, 240);
    border: rgb(240, 240, 240);
    color: rgb(44, 44, 44);
}

.offered-in {
    text-align: center;
    padding-bottom: 270px;
}

.country {
    padding: 15px
}

footer {
    display: flex;
    align-items: flex-end;
}
