nav {
    padding-left: 70em;
}

.navbar-list {
    float: left;
}

ul {
    list-style-type: none;
}

.google-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar-usericon {
    
}

.navbar-appicon {
    float: left;
}

form {
    text-align: center;
}

li {
    display: inline;
    padding: 5px;
}